@import "../../utils/mixins";

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  @include flex-settings;

  &__position {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 70px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.1s linear;
    cursor: pointer;
    user-select: none;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.5);
    }

    &--active {
      color: #313237;
      font-weight: 600;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
