@import "../../utils/mixins";
@import "../../utils/reset";

.productList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px 20px;
  justify-content: space-between;
  place-items: center;
  margin-bottom: 40px;
  
  @include onTabletLarge {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }

  @include onDesktopSmall {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
  }
}